DATABASE_URL="postgresql://postgres:postgres@localhost:5440/hangwat_test"
SESSION_SECRET="test-session-secret-32-chars-long!!"
FRONTEND_ORIGIN="http://localhost:3000"
GOOGLE_MAPS_API_KEY=test-google-maps-api-key
